/* FONTS */
/* pt-sans-regular */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
        url("../fonts/ptsans.woff2") format("woff2"), /* Super Modern Browsers */
        url("../fonts/ptsans.woff") format("woff"); /* Modern Browsers */
}

/* pt-sans-bold */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
        url("../fonts/ptsansbold.woff2") format("woff2"), /* Super Modern Browsers */
        url("../fonts/ptsansbold.woff") format("woff"); /* Modern Browsers */
}

/* VARIABLES */
:root {
  /* colors */
  --basic-black: #000000;
  --basic-black-active: rgba(0, 0, 0, 0.3);
  --basic-dark: #333333;
 
  --basic-grey: #808080;
  --basic-grey-body: #f2f2f2;
  --basic-color-triangle: #cacaca;
  --basic-grey-rating: #666666;
  --basic-grey-extra: #eeeeee;
  --basic-pink-grey: #e5e5e5;
  --basic-grey-active: #bdbbbc;
  
  --basic-white: #ffffff;
  --basic-white-active: rgba(255, 255, 255, 0.3);
  --basic-white-footer: rgba(255, 255, 255, 0.9);
  
  --basic-brown: #766357;
  --basic-brown-hover: #604e43;
  --basic-brown-active: #503e33;
  
  --basic-marine: #81b3d2;
  --basic-marine-hover: #669ec0;
  --basic-marine-active: #5496bd;

  /* shadow */
  --page-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/* ALL PAGE */
.page__body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--basic-grey-body);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.center {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: var(--page-shadow);
}

.page__body a {
  text-decoration: none;
}

.page__body img {
  max-width: 100%;
  height: auto;
}

/* GENERAL STYLE */
.reset__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* для скрытия элементов */
.hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
} 

.active {
  color: var(--basic-brown);
}

.current {
  color: var(--basic-marine);
}

.title { 
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black); 
}

/* THE HEADER OF THE PAGES */
/* site navigation */
.header {
  position: relative;
  padding: 0 72px;
}

.nav {
  line-height: 26px;
  font-weight: 700;
}

.nav__logo {
  position: absolute;
  top: 0; right: 0; left: 0;
  z-index: 1;
  margin: auto;
  max-width: 138px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 56px;
}

.nav__item {
  width: 227px;
}

.nav__item:nth-child(4n+1) {
  text-align: left;
}

.nav__item:nth-child(4n+2) {
  text-align: left;
  margin-right: auto;
}

.nav__item:nth-child(4n+3), 
.nav__item:nth-child(4n+4) {
  text-align: right;
}

.nav__link {
  color: var(--basic-black);
}

.nav__link:hover {
  color: var(--basic-marine);
}

.nav__link:active {
  color: var(--basic-black-active);
}

/* THE MAIN OF THE PAGES */
.main {
  line-height: 21px;
  color: var(--basic-dark);
}

/* THE FOOTER OF THE PAGES */
.footer {
  display: grid;
  grid-template-columns: 327px 400px 327px;
  min-height: 120px;
  padding: 0 73px;
  z-index: 1;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white-footer);
}

/* contacts */
.contacts {
  padding-top: 23px;
  text-align: center;
}

.contacts__p {
  margin: 0;
  padding: 0 0 9px 0;
}

.contacts__address {
  font-style: normal;
}

.contacts__phone {
  color: inherit;
} 

.contacts__phone:hover {
  text-decoration: underline;
}

/* socials */
.socials {
  display: grid;
  align-content: center;
}

.socials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socials__item { 
  margin: 3px;
}

.socials__button {
  display: flex;
  width: 46px;
  height: 48px;
  color: var(--basic-white);
  background-color: var(--basic-marine);
}

.socials__icon { 
  margin: auto;
  fill: var(--basic-white);
}

.socials__button:hover {
  background-color: var(--basic-marine-hover);
}

.socials__button:active {
  color: var(--basic-white-active);
  background-color: var(--basic-marine-active);
  --basic-white: var(--basic-white-active);
}

/* copyrighting */
.copyrighting {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 38px;
}

.copyrighting__p {
  margin: 11px 8px 0 0;
}

.copyrighting__link {
  max-height: 41px;
}

.copyrighting__icon:hover {
  fill: var(--basic-marine);
}

.copyrighting__icon:active {
  fill: var(--basic-grey-active);
}

/* -- STYLES OF PAGE -- INDEX -- */
/* index__main*/
.index__main {
  text-align: center;
}

/* welcome */
.welcome {
  position: relative;
  height: 509px;
  padding-top: 76px;
  background-color: var(--basic-grey); 
  background-image: url("../img/backgr_wellcome.jpg");
  background-position: 0 0;
}

.welcome::after { 
  content:"";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 1200px;
  height: 59px;
  background-image: url("../img/mask.svg");
  background-repeat: no-repeat;
  background-size:  100% 100%;
  background-position: 0 0; 
}

/* advantages */
.advantages {
  padding-top: 42px;
}

.advantages__slogan {
  width: 470px;
  margin: 0 auto 45px;
  line-height: 26px;
}

.advantages h2 {
  margin: 0 auto 51px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--basic-grey-extra);
}

.advantages__item {
  width: 400px;
  min-height: 256px;
  padding: 47px 0;
}

.advantages__item__another {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--basic-marine);
}

.advantages__wrapper  {
  width: 400px;
  min-height: 256px;
  padding: 47px 0;
  color: var(--basic-white); 
}

.advantages__wrapper__right {
  order: 2;
  padding-top: 50px;
}

.advantages__wrapper .advantages__reason {
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-white);
}

.advantages__reason {
  width: 155px;
  margin: 0 auto 27px;
}

.advantages__number {
  width: 155px;
  margin: 0 auto 25px;
}

.advantages__item .advantages__description {
  width: 258px;
  margin: 0 auto;
}

.advantages__item__another .advantages__description {
  width: 301px;
  margin: 0 auto;
}

.advantages__img {
  align-self: center;
  width: 800px;
  height: 256px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 330px;
  background-color: var(--basic-white);
}

.features__item {
  position: relative;
  width: 400px;
  padding-top: 160px;
  padding-bottom: 80px;
}

.features__item::before {
  content: "";
  position: absolute;
  top: auto;
  left: 0; right: 0;
  bottom: 60%;
  margin: auto;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.features__housing::before {
  width: 75px;
  height: 72px;
  background-image: url("../img/icon_1.svg");
}

.features__food::before {
  width: 75px;
  height: 70px;
  background-image: url("../img/icon_2.svg");
}

.features__souvenirs::before {
  width: 64px;
  height: 77px;
  background-image: url("../img/icon_3.svg");
}

.features__item h3 {
  width: 155px;
  margin: 0 auto 27px;
}

.features__item p {
  width: 300px;
  margin: 0 auto;
}

/* search */
.search {
  position: relative;
  padding: 58px 0 473px;
}

.search h2 {
  width: 435px;
  margin: 0 auto 30px;;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
}

.search__info {
  width: 435px;
  margin: 0 auto 46px;
  line-height: 24px;
}

/* search__button */
.search__button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.toggle__modal {
  width: 568px;
  padding: 30px 0;
  background-color: var(--basic-brown);
}

.toggle__modal:hover {
  background-color: var(--basic-brown-hover);
}

.toggle__modal:active {
  color: var(--basic-white-active);
  background-color: var(--basic-brown-active);
}

.search__map {
  position: absolute;
  left: 0;
  bottom: -120px;
  min-width: 1200px;
  height: 593px;
}

/* -- STYLES OF PAGE -- HOTELS -- */
/* filter */
.filter {
  min-height: 217px; 
  background-color: var(--basic-marine);
  background-image: url("../img/backgr_filter.jpg");
}

/* hotels */
/* sort */
.sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 87px;
  padding: 0 73px;
  border-bottom: 1px solid var(--basic-pink-grey);
}

.sort__paragraph {
  width: 135px;
  margin: 0 28px 0 0;
  line-height: 26px;
}

.sort__title {
  width: 75px;
  margin: 0 40px 0 0;
  color: var(--basic-black);
}

.sort__title,
.sort__list  {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 249px;
  margin-right: auto;
}

.short__item:not(:last-child) {
  margin-right: 32px;
}

.sort__link {
  color: var(--basic-black-active);
  border-bottom: 1px dotted var(--basic-marine);
}

.sort__link:hover {
  color: var(--basic-marine);
}

.sort__link:active {
  color: var(--basic-black);
  border: none;
}

.transition {
  position: relative;
  width: 127px;
  min-height: 17px;
}

.transition__link {
  position: absolute;
  top: 6px;
  width: 0;
  height: 0;
  border: 10px solid var(--basic-color-triangle);
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
}

.transition__up {
  right: 22px;
  border-top-width: 0;
}

.transition__down {
  right: 0;
  border-bottom-width: 0;
}

.transition__up:hover,
.transition__down:hover {
  --basic-color-triangle: var(--basic-black);
}

.transition__up:active,
.transition__down:active {
  --basic-color-triangle: var(--basic-marine);
}

.transition__up.current,
.transition__down.current {
  --basic-color-triangle: var(--basic-marine);
}

/* hotels__item */
.hotels__item {
  padding: 0 73px;
  border-bottom: 1px solid var(--basic-pink-grey);
}

/* card */
.card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 24px 0 30px;
  word-wrap: break-word;
}

.card__wrap {
  display: grid;
  grid-template-columns: 110px 142px;
  grid-template-rows: 1fr 1fr auto;
  gap: 6px;
  align-content: center;
  order: 2;
  width: 258px;
  min-height: 96px;
  margin-right: auto;
}

.card__name {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
}

.card__link {
  line-height: 26px;
}

.card__link:hover {
  color: var(--basic-marine);
}

.card__link:active {
  color: var(--basic-black-active);
}

.card__info {
  margin: 0;
}

/* card__button */
.card__button {
  min-height: 27px;
  padding: 3px 0;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
}

.more {
  width: 110px;
  background-color: var(--basic-marine);
}

.more:hover {
  background-color: var(--basic-marine-hover);
}

.more:active {
  color: var(--basic-white-active);
  background-color: var(--basic-marine-active);
}

.book {
  width: 142px;
  background-color: var(--basic-brown);
}

.book:hover {
  background-color: var(--basic-brown-hover);
}

.book:active {
  color: var(--basic-white-active);
  background-color: var(--basic-brown-active);
}

.card__rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  order: 3;
  width: 127px;
  min-height: 90px;
  margin-top: 6px;
}

/* star */
.star {
  height: 17px;
  margin-bottom: auto;
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-position: 0 0;
}

.star__2 {
  width: 40px;
}

.star__3 {
  width: 65px;
}

.star__4 {
  width: 90px;
}

.card__digit {
  width: 110px;
  min-height: 27px;
  margin: 0;
  padding: 3px 0;
  text-align: center;
  color: var(--basic-grey-rating);
  background-color: var(--basic-grey-body);
}

.card__img {
  order: 1;
  width: 135px;
  height: 90px;
  margin-top: 6px;
  margin-right: 29px;
}




